@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Transactinos"];
    if(User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("Admin")) {
        <script>
            const isAdmin = true;
        </script>
    }
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @SharedLocalizer["Transactions"]
            </h1>
        </div>
    </div>

    <div class="row">
        <div id="gridContainer">
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            let url = 'api/TransactionsAPI';
            var returnUrl = '@Context.Request.Path@Context.Request.QueryString';
            $("#gridContainer").dxDataGrid({
                dataSource: DevExpress.data.AspNet.createStore({
                    key: "id",
                    loadUrl: url,
                    insertUrl: url,
                    updateUrl: url,
                    deleteUrl: url,
                    onBeforeSend: function (method, ajaxOptions) {
                        ajaxOptions.xhrFields = { withCredentials: true };
                    }
                }),
                onExporting: function (e) {
                    var workbook = new ExcelJS.Workbook();
                    var worksheet = workbook.addWorksheet('Main sheet');
                    DevExpress.excelExporter.exportDataGrid({
                        worksheet: worksheet,
                        component: e.component,
                        customizeCell: function (options) {
                            options.excelCell.font = { name: 'Arial', size: 12 };
                            options.excelCell.alignment = { horizontal: 'left' };
                        }
                    }).then(function () {
                        workbook.xlsx.writeBuffer().then(function (buffer) {
                            saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'DataGrid.xlsx');
                        });
                    });
                },
                onInitNewRow: function (e) {
                    var url = `@Url.Action("Create", "Terminal")`;
                    window.location = url;
                },
                selection: {
                    mode: "multiple"
                },
                allowColumnReordering: true,
                allowColumnResizing: true,
                "export": {
                    enabled: true,
                    fileName: "Documents",
                    allowExportSelectedData: true
                },
                filterPanel: {
                    visible: false
                },
                filterRow: { visible: false },
                remoteOperations: true,
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 20, 50],
                    showNavigationButtons: true
                },
                editing: {
                    useIcons: true,
                    allowUpdating: false,
                    allowDeleting: false,
                    allowAdding: false
                },
                headerFilter: {
                    visible: true
                },
                wordWrapEnabled: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                showBorders: true,
                searchPanel: {
                    visible: true
                },

                stateStoring: {
                    enabled: true,
                    type: "localStorage",
                    storageKey: "userAdmin"
                },

                columns: [
                    {
                        caption: '@SharedLocalizer["Transaction Id"]',
                        dataField: "id",
                        allowHeaderFiltering: true
                    },
                    {
                        caption: '@SharedLocalizer["Phone number"]',
                        dataField: "msisdn",
                        allowHeaderFiltering: true
                    },
                    {
                        caption: '@SharedLocalizer["Amount(TMT)"]',
                        dataField: "amount",
                        allowHeaderFiltering: true,
                    },
                    {
                        caption: '@SharedLocalizer["Transaction Date"]',
                        dataField: "transactionDate",
                        dataType: 'date',
                        allowHeaderFiltering: true,
                    },
                    {
                        caption: '@SharedLocalizer["RefNum"]',
                        dataField: "refNum",
                        allowHeaderFiltering: true,
                    },
                    {
                        caption: '@SharedLocalizer["Status"]',
                        dataField: "status",
                        allowHeaderFiltering: true,
                    },
                    {
                        caption: '@SharedLocalizer["State"]',
                        dataField: "state",
                        allowHeaderFiltering: true,
                    },
                    {
                        caption: '@SharedLocalizer["Reason"]',
                        dataField: "reason",
                        allowHeaderFiltering: true,
                    },
                    {
                        caption: '@SharedLocalizer["Terminal Id"]',
                        dataField: "terminalId",
                        allowHeaderFiltering: true,
                    },
                    {
                        caption: '@SharedLocalizer["Termianl Name"]',
                        dataField: "termianlName",
                        allowHeaderFiltering: true,
                    },
                    {
                        caption: '@SharedLocalizer["Owner Name"]',
                        dataField: "ownerName",
                        allowHeaderFiltering: true,
                    },
                    {
                        type: "buttons",
                        width: 110,
                        buttons: [
                            {
                                hint: '@SharedLocalizer["Show details"]',
                                icon: "info",
                                onClick: function (e) {
                                    var idString = e.row.data.id;
                                    var url = `@Url.Action("TransactionDetails", "Transaction")`;
                                    window.location = url + '?id=' + idString;
                                }
                            }
                        ]
                    }
                ]
            });

        });
    </script>
}
