@model Terminal_BackEnd.Infrastructure.Entities.ApplicationUser
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Create user account"];
}

<div class="container-fluid">

    <div class="col-lg-12">
        <div class="row">
            <h1 class="page-header">
                @SharedLocalizer["Редактировать дилера/пользователя"]
            </h1>
        </div>
    </div>
    <div id="gridContainer">
        <form asp-action="Edit" id="form" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" value="@(string.IsNullOrEmpty(Model.Id)?"":Model.Id)" />
            <input type="hidden" asp-for="PasswordHash" value="@(string.IsNullOrEmpty(Model.PasswordHash)?"":Model.PasswordHash)" />
            <div class="col-md-12">
                <div asp-validation-summary="All" class="text-danger">
                    @if(ViewBag.ErrorList != null) {
                        foreach(var err in ViewBag.ErrorList) {
                            <p>@err.Description</p>
                        }
                    }
                    @if(ViewBag.ErrorList1 != null) {
                        foreach(var err in ViewBag.ErrorList1) {
                            <p>@err</p>
                        }
                    }
                </div>
                <div class="form-row">
                    <div class="col-md-8">
                        <h1 class="page-header">
                            @SharedLocalizer["Данные"]
                        </h1>

                        <div class="form-group">
                            <label>@SharedLocalizer["Имя"] *</label>
                            <input type="text" class="form-control" asp-for="FirstName" value="@(string.IsNullOrEmpty(Model.FirstName)?"":Model.FirstName )" required />
                        </div>

                        <div class="form-group">
                            <label>@SharedLocalizer["Фамилия"] *</label>
                            <input type="text" class="form-control" asp-for="FamilyName" value="@(string.IsNullOrEmpty(Model.FamilyName)?"":Model.FamilyName )" required />
                        </div>
                        <div class="form-group">
                            <label>@SharedLocalizer["Адрес"]</label>
                            <input type="text" class="form-control" asp-for="Address" value="@(string.IsNullOrEmpty(Model.Address)?"":Model.Address)" required />
                        </div>
                        <div class="form-group">
                            <label>@SharedLocalizer["Имя компании"]</label>
                            <input type="text" class="form-control" asp-for="CompanyName" value="@(string.IsNullOrEmpty(Model.CompanyName)?"":Model.CompanyName)" required />
                        </div>
                        <div class="form-group">
                            <label>@SharedLocalizer["Адрес компании"]</label>
                            <input type="text" class="form-control" asp-for="CompanyAddress" value="@(string.IsNullOrEmpty(Model.CompanyAddress)?"":Model.CompanyAddress)" required />
                        </div>

                        <div class="form-group">
                            <label>@SharedLocalizer["Email"] *</label>
                            <div id="email"></div>
                        </div>

                        <div class="form-group">
                            <label>@SharedLocalizer["Телефон номер"] *</label>
                            <div id="phone"></div>
                        </div>                       
                        <div class="form-group">
                            <label>@SharedLocalizer["Login"] *</label>
                            <input type="text" class="form-control" asp-for="UserName" value="@(string.IsNullOrEmpty(Model.UserName)?"":Model.UserName)" required />
                        </div>
                    </div>

                </div>
            </div>
            <div class="dx-fieldset">
                <br />
                <div id="summary"></div>
                <br />
                <div id="button"></div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
        performActionAndRedirect("ApplicationUser");
        var check = function () {
            if (document.getElementById('password').value ==
                document.getElementById('confirm_password').value) {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'matching';
            } else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'not matching';
                document.getElementById('password').value = null;
                document.getElementById('confirm_password').value = null;
                document.getElementById('password').focus();
            }
        }

        $(function () {            
            $("#phone").dxTextBox({
                name: "PhoneNumber",
                value: "@(string.IsNullOrEmpty(Model.PhoneNumber) ? "" : Model.PhoneNumber)",
                mask: "(+000)-00-00-00-00",
                maskInvalidMessage: '@SharedLocalizer["Не правильный номер телефона"]'
            }).dxValidator({
                validationRules: [{
                    type: "required",
                    message: '@SharedLocalizer["Введите номер телефона"]'
                }]
            });

            $("#email").dxTextBox({
                name: "Email",
                value: "@(string.IsNullOrEmpty(Model.Email) ? "" : Model.Email)",
            }).dxValidator({
                validationRules: [{
                    type: "required",
                    message: '@SharedLocalizer["Введите почту"]'
                },
                {
                    type: "email",
                    message: '@SharedLocalizer["Не правильный адрес почты"]'
                }
                ]
            });
            $("#button").dxButton({
                text: '@SharedLocalizer["Сохранить"]',
                type: "success",
                useSubmitBehavior: true,
            });
            $("#summary").dxValidationSummary({});

        });


    </script>

}