@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Инкассация"];
    if(User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("Admin")) {
            <script>
                const isAdmin = true;
            </script>
    }
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @SharedLocalizer["Инкассация"]
            </h1>
        </div>
    </div>

    <div class="row">
        <div id="gridContainer">
        </div>
    </div>
</div>

@section Scripts {
    <script>
        performActionAndRedirect("Encashments");
        $(function () {
            let url = 'api/TransactionsAPI/Enchargement';
            var returnUrl = '@Context.Request.Path@Context.Request.QueryString';
            $("#gridContainer").dxDataGrid({
                dataSource: DevExpress.data.AspNet.createStore({
                    key: "id",
                    loadUrl: url,
                    insertUrl: url,
                    updateUrl: url,
                    deleteUrl: url,
                    onBeforeSend: function (method, ajaxOptions) {
                        ajaxOptions.xhrFields = { withCredentials: true };
                    }
                }),
                onExporting: function (e) {
                    var workbook = new ExcelJS.Workbook();
                    var worksheet = workbook.addWorksheet('Main sheet');
                    DevExpress.excelExporter.exportDataGrid({
                        worksheet: worksheet,
                        component: e.component,
                        customizeCell: function (options) {
                            options.excelCell.font = { name: 'Arial', size: 12 };
                            options.excelCell.alignment = { horizontal: 'left' };
                        }
                    }).then(function () {
                        workbook.xlsx.writeBuffer().then(function (buffer) {
                            saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'DataGrid.xlsx');
                        });
                    });
                },
                selection: {
                    mode: "multiple"
                },
                allowColumnReordering: true,
                "export": {
                    enabled: true,
                    fileName: "Documents",
                    allowExportSelectedData: true
                },
                filterPanel: {
                    visible: false
                },
                filterRow: { visible: false },
                remoteOperations: true,
                allowColumnResizing: true,
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 20, 50],
                    showNavigationButtons: true
                },
                onInitNewRow: function (e) {
                    var url = `@Url.Action("Create", "Encashments")`;
                    window.location = url;
                },
                editing: {
                    useIcons: true,
                    allowUpdating: false,
                    allowDeleting: false,
                    allowAdding: @(User.Identity != null && User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Cashier")) ? "true" : "false")
                },
                headerFilter: {
                    visible: true
                },
                wordWrapEnabled: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: false,
                showBorders: true,
                searchPanel: {
                    visible: true
                },

                stateStoring: {
                    enabled: true,
                    type: "localStorage",
                    storageKey: "EnchashmentIndex"
                },
                onRowPrepared: function (e) {
                    if (e.rowType === "data") {
                        if (e.data.status === 1) {
                            e.rowElement.css("background-color", "#9ecd9e");
                        }else if (e.data.balanceDifference !== 0) {
                            e.rowElement.css("background-color", "#e8aaaa");
                        }
                    }
                },
                columns: [
                    {
                        caption: '@SharedLocalizer["ID инкассации"]',
                        dataField: "id",
                        allowHeaderFiltering: true
                    },
                    {
                        caption: '@SharedLocalizer["Дата инкассации"]',
                        dataField: "encashmentDate",
                        dataType: 'datetime',
                        format: "dd/mm/yyyy HH:mm", // Optional: Customize the format
                        allowHeaderFiltering: true
                    },
                    {
                        caption: '@SharedLocalizer["Сумма успешных переводов(TMT)"]',
                        dataField: "encashmentSum",
                        allowHeaderFiltering: true,
                    },
                    {
                        caption: '@SharedLocalizer["Сумма в терминале(TMT)"]',
                        dataField: "encashmentSumFromTerminal",
                        allowHeaderFiltering: true,
                    },
                    {
                        caption: '@SharedLocalizer["Разница (TMT)"]',
                        dataField: "balanceDifference",
                        allowHeaderFiltering: true,
                    },
                    {
                        caption: '@SharedLocalizer["Статус"]',
                        dataField: "status",
                        allowHeaderFiltering: true,
                        calculateCellValue: function (data) {
                            return data.status === 0 ? "Открыт" : "Закрыт";
                        }
                    },
                    {
                        caption: '@SharedLocalizer["Имя терминала"]',
                        dataField: "terminalName",
                        allowHeaderFiltering: true,
                    },
                    {
                        caption: '@SharedLocalizer["Дилер"]',
                        dataField: "terminalOwner",
                        allowHeaderFiltering: true,
                    },

                    {
                        type: "buttons",
                        width: 110,
                        buttons: [
                            {
                                hint: '@SharedLocalizer["Детальнее"]',
                                icon: "info",
                                onClick: function (e) {
                                    var idString = e.row.data.id;
                                    var url = `@Url.Action("EncashmentDetails", "Encashments")`;
                                    window.location = url + '?id=' + idString;
                                }
                            }
                        ]
                    }
                ]
            });

        });
    </script>
}
