@using DevExtreme.AspNet.Mvc
@using DevExtreme.AspNet.Data
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Turkmen-Terminal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Terminal_BackEnd.Web.styles.css" asp-append-version="true" />
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet">



    @*  <link href="~/node_modules/devextreme/dist/css/dx.light.css" rel="stylesheet" /> *@
    <!-- Template Main CSS File -->
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
    <script src="~/js/jszip.min.js"></script>
    <script src="~/js/jszip-utils.js"></script>
    <script src="~/js/polyfill.min.js"></script>
    <script src="~/js/exceljs.min.js"></script>
    <script src="~/js/FileSaver.min.js"></script>
    <script src="~/js/jspdf.umd.min.js"></script>
    <script src="~/js/jspdf.plugin.autotable.min.js"></script>
    <script src="~/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="~/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/assets/vendor/quill/quill.js"></script>
    <script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    @*     <script src="~/node_modules/devextreme/dist/js/dx.all.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @* <script src="~/node_modules/devextreme-aspnet-data/js/dx.aspnet.data.js"></script>  *@
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/css/site.min.css" rel="stylesheet" />
    <link href="~/css/ace/ace.bundle.css" rel="stylesheet" />
    <script src="~/js/site.min.js"></script>
    <script>
        function performActionAndRedirect(id) {
            var elements = document.querySelectorAll('.nav-item .nav-link');
            elements.forEach((element) => element.classList.add("collapsed"));
            var element = document.getElementById(id);
            if (element !== undefined)
                element.classList.remove("collapsed");

        }
    </script>
</head>
<body>
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <img src="assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">Turkmen-Terminal</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->
                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <li class="nav-item dropdown pe-3">
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                            <li class="dropdown-header">
                                <h6>@User.Identity.Name</h6>
                                @if (User.IsInRole("Admin"))
                                {
                                    <span>Admin</span>
                                }
                                else
                                {
                                    <span>Standard User</span>
                                }
                            </li>
                            @*  <li>
                        <hr class="dropdown-divider">
                        </li>
                        <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                        <i class="bi bi-person"></i>
                        <span>My Profile</span>
                        </a>
                        </li>
                        <li>
                        <hr class="dropdown-divider">
                        </li>
                        <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                        <i class="bi bi-gear"></i>
                        <span>Account Settings</span>
                        </a>
                        </li>
                        <li>
                        <hr class="dropdown-divider">
                        </li>
                        <li>
                        <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                        <i class="bi bi-question-circle"></i>
                        <span>Need Help?</span>
                        </a>
                        </li>
                        <li>
                        <hr class="dropdown-divider">
                        </li> *@
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <i class="bi bi-box-arrow-right"></i>
                                    <span>Sign Out</span>
                                </a>
                            </li>

                        </ul><!-- End Profile Dropdown Items -->
                    </li>

                    <!-- End Profile Nav -->
                }

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    @{
        if (User.Identity != null && User.Identity.IsAuthenticated)
        {
            <aside id="sidebar" class="sidebar">
                <ul class="sidebar-nav" id="sidebar-nav">
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" id="DashboardViewer" href="@Url.Action("Index","Home")">
                                <i class="bi bi-grid"></i>
                                <span>Дажбод</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link collapsed" id="DashboardDesigner" href="@Url.Action("Designer","Home")">
                                <i class="bi bi-grid"></i>
                                <span>Дажбод Дизайнер</span>
                            </a>
                        </li>
                        <!-- End Dashboard Nav -->
                    }

                    <li class="nav-item">
                        <a class="nav-link collapsed" id="Transaction" href="@Url.Action("Index","Transaction")">
                            <i class="bi bi-card-list"></i>
                            <span>Транзакции</span>
                        </a>
                    </li>

                    <!-- End Transactions Page Nav -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" id="Terminal" href="@Url.Action("Index","Terminal")">
                            <i class="bi bi-file-post"></i>
                            <span>Терминалы</span>
                        </a>
                    </li>

                    <!-- End Terminals Page Nav -->

                    <li class="nav-item">
                        <a class="nav-link collapsed" id="Encashments" href="@Url.Action("Index","Encashments")">
                            <i class="bi bi-currency-dollar"></i>
                            <span>Инкассации</span>
                        </a>
                    </li><!-- End Enrichments Page Nav -->

                    <li class="nav-item">
                        <a class="nav-link collapsed" id="ReportViewer" href="@Url.Action("Viewer","Reports")">
                            <i class="bi bi-clipboard-data-fill"></i>
                            <span>Отчеты</span>
                        </a>
                    </li>
                    @if(User.IsInRole("Cashier")){
                         <li class="nav-item">
                            <a class="nav-link collapsed" id="Reports" href="@Url.Action("Index","AdvReports")">
                                <i class="bi bi-clipboard-data-fill"></i>
                                <span>Отчеты по датам</span>
                            </a>
                        </li>
                    }
                    @if (User.IsInRole("Admin"))
                    {

                        <li class="nav-item">
                            <a class="nav-link collapsed" id="Reports" href="@Url.Action("Index","Reports")">
                                <i class="bi bi-clipboard-data-fill"></i>
                                <span>Дизайнер отчетов</span>
                            </a>
                        </li>

                        <!-- End Enrichments Page Nav -->
                        <!-- End Terminals Page Nav -->
                        <li class="nav-item">
                            <a class="nav-link collapsed" id="ApplicationUser" href="@Url.Action("Index","ApplicationUser")">
                                <i class="bi bi-people-fill"></i>
                                <span>Дилеры</span>
                            </a>
                        </li>

                        <!-- End Users Page Nav -->
                    }
                    @if (User.IsInRole("Standard"))
                    {
                        <!-- End Balance Page Nav -->
                        <li class="nav-item">
                            <a class="nav-link collapsed" id="Balance" href="@Url.Action("Index", "Balance")">
                                <i class="bi bi-cash-coin"></i>
                                <span>Балансы</span>
                            </a>
                        </li>

                        <!-- End Balance Page Nav -->
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link collapsed" id="GlobalSettings" href="@Url.Action("Index", "GlobalSettings")">
                                <i class="bi bi-cash-coin"></i>
                                <span>Настройки</span>
                            </a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link collapsed" id="Logout" href="/Identity/Account/Logout">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li><!-- End Users Page Nav -->
                </ul>
            </aside>

            <!-- End Sidebar-->
        }
    }
    <div class="main" id="main">
        @RenderBody()
    </div>

    @* <footer id="footer" class="footer">
    <div class="copyright">
    &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
    </footer><!-- End Footer --> *@


    <!-- Vendor JS Files -->
    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
